@use 'colors' as colors;
@use '@angular/material' as mat;

.mat-select-value, input {
    color: colors.$darkblue !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: colors.$lightGray;
    border-radius: 0 !important;
}

.mat-expansion-panel {
    background-color: colors.$lightGray;
    box-shadow: none !important;
    border-radius: 0 !important;

    .mat-expansion-panel-header-title {
        color: colors.$darkblue;
    }

    .mat-expansion-panel-header-description {
        flex-grow: 0;
        margin-left: auto;
        color: mat.get-color-from-palette(colors.$primaryPalette);
        font-variant: small-caps;
    }
}
