@use '@angular/material' as mat;
@use 'colors' as colors;

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
}

body {
    background-color: mat.get-color-from-palette(colors.$primaryPalette, "default");
}

a {
    color: mat.get-color-from-palette(colors.$primaryPalette, "default");
    text-decoration: none;
}
